.footer{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid #2c2c2c;
    margin-top: 20px;

}

.footer .container3 {
    flex-wrap: wrap;
    gap: 1rem;
    align-content: center;
    justify-content: space-between;
    --max-w: 1110px;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 2rem);
    max-width: var(--max-w);
    display: flex;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    word-wrap: break-word;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

.footer_copyright em {
    margin-right: 0.25rem;
    text-emphasis: initial;
    font-style: normal;
    font-weight: 600;
}

.footer_copyright span {
    font-weight: 600;
    opacity: .6;
    color: hsl(0, 0, 85%);
}