* {
    margin: 0px;
    padding: 0px;
}

#app{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    --color-default-black:hsl
    --base-font-size: 16px;
    font-size: var(--base-font-size);
    accent-color: hsl(255,15%,50%);
    background-color: hsl(216, 9%, 11%);
    color: white;
    color-scheme: light dark;
    scrollbar-gutter: stable;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html,body{
    min-height: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    max-width: 1110px;
    display: flex;
}

.back {
    display: flex;
    width: 100%;
    height: 65px;
    background: transparent;
}

.hero{
    display: grid;
    grid-template-columns: minmax(50%,700px) auto;
    align-items: center;
    padding: 3rem 0;
}

.hero_headline{
    font-size: clamp(1.25rem,1vw+2.5rem,3.75rem);
    font-weight: 700;
}

.hero_description{
    font-size: clamp(1rem,1vw+1.125rem,1.25rem);
    color: hsl(226, 24%, 62%);
    margin-bottom:1.5rem;
}

.social_media{
    display: flex;
    align-items: center;
}

.hero-aside{
    display: flex;
    justify-self: end;
    padding: 0 17px;
}

.hero_subheadline{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 1em;
    gap: 1em;
    font-size: 0.875rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: hsl(214, 9%, 55%);
    margin: 0 1rem;
}

p, h1, h2, h3, h4, h5, h6 {
    word-wrap: break-word;
}

.hero_subheadline::before,.hero_subheadline::after{
    content: "";
    border-bottom: 1px solid hsl(214, 9%, 55%);
    align-self: center;
    justify-self: center;
    min-width: 24px;
    transform: rotate(90deg);
}

.hero-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 323px;
    height: 275px;
    background-color:#23262a;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .23);
}

.hero-avatar_image{
    position: relative;
}

.hero-avatar_image img {
    clip-path: circle(70px at center);
    object-fit: cover;
}

.hero-avatar_image:before {
    --avatar-outline-color: hsl(225,15%,50%);
    content: "";
    position: absolute;
    display: block;
    width: 160px;
    height: 160px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(0);
    outline: 8px inset var(--avatar-outline-color);
    border-radius: 9999px;
    animation: rotateOutline 20s linear infinite normal both;
    will-change: transform;
}

@keyframes rotateOutline {
    0% {
        transform: translate(-50%,-50%) rotate(0)
    }

    to {
        transform: translate(-50%,-50%) rotate(360deg)
    }
}

.hero-avatar {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .23);
}

img, picture, video, canvas, svg, iframe, object {
    max-width: 100%;
    display: block;
}

.post-list{
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    width: min(160ch,100% - 2rem);
}

.post-list #posts-heading{
    text-transform: uppercase;
    flex-basis: 100%;
}

.post-preview--short{
    align-items: center;
    gap: 1rem;
}

.post-preview{
    --bg-lighter-color: hsl(0,0%,97%);
    --color-gray-800:hsl(214,9%,15%);
    --max-lines: 3;
    display: flex;
    position: relative;
    width: 100%;
    padding: 1.125rem;
    background-color: var(--color-gray-800,var(--bg-lighter-color));
    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .23);
}

.post-preview-metadata{
    display: flex;
    align-items: center;
}

.post-preview__date{
    --secondary-text-color:hsl(225, 15%, 50%);
    --color-default-white:hsl(0, 0%, 85%);
    opacity: .7;
    color: var(--color-default-white,var(--secondary-text-color));
}

.post-preview a{
    color: inherit;
}

.post-preview--short a{
    margin: 0;
}

a{
    text-decoration: none;
}

.post-preview--short a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.resume-button1 {
    font-size: 16px;
    background: transparent;
    border: none;
    padding: 0.75rem 1rem;
    border: 1px solid #1abbd1;
    border-radius: 4px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    position: relative;
    transition: .5s ease;
}

.resume-button1::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #1abbd1;
    transition: .5s ease;
}

.resume-button1:hover {
    color: #1e1e2b;
    transition-delay: .5s;
}

.resume-button1:hover::before {
    width: 100%;
}

.resume-button1::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #1abbd1;
    transition: .4s ease;
    z-index: -1;
}

.resume-button1:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(400px,100%),1fr));
    grid-gap: 1rem;
    margin-bottom: 4rem;
    margin-top: 1rem;
}

.projects-grid h3 {
    grid-column: 1 / -1;
    text-transform: uppercase;
    margin-top: 2rem;
    font-size: larger;
}

.project-card {
    display: flex;
}

.project-thumbnail {
    flex-basis: 50%;
    border-radius: 4px 0 0 4px;
}

.project-card__image.lozad {
    filter: blur(0);
}

.project-card__image {
    border-radius: inherit;
    object-fit: cover;
    object-position: top center;
    height: 200px;
    min-height: 100%;
}

.contain{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.project-card__content {
    --bg-color-lighter:hsl(0, 0%, 97%);
    --color-gray-800: hsl(214, 9%, 15%);
    --radius-default:4px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    flex-basis: 50%;
    background-color: var(--color-gray-800, var(--bg-color-lighter));
    padding: 1.125rem;
    border-radius: 0 var(--radius-default) var(--radius-default) 0;
    border: 1px solid transparent;
}

.project-card__header h4{
    font-size: 1.125rem;
}

.project-card__header p{
    margin-bottom: 10px;
    opacity: .7;
}

.project-card__footer .tags {
    margin-bottom: 1rem;
}

.tags {
    display: flex;
    flex-flow: row wrap;
    gap: 0.25rem;
}

.tag{
    --_tag-bg: hsl(210, 5%, 24%);
    border-radius: 14px;
    background-color: var(--_tag-bg);
    font-size: .75rem;
    opacity: 1;
    padding: 2px 10px;
    margin: 0;
}

.link--full {
    width: 100%;
    max-width: 100%;
}
.link--button {
    --button-bg-color: hsl(187, 78%, 46%);
    --button-text-color: hsl(216, 9%, 11%);
    --button-fw: 700;
    --button-radius: 4px;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 1rem;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    font-weight: 700;
    font-size: var(--button-font-size, inherit);
    transition: filter .3s ease-in-out;
    border-radius: 4px;
}

.auto-input{
    font-size: 55px;
    --bg-color-lighter:hsl(0, 0%, 78%);
    --color-gray-800: hsl(214, 9%, 15%);
    
    color: var(--bg-color-lighter, var(--color-gray-800));
}