* {
    margin: 0px;
    padding: 0px;
}

:root {
    --shiki-color-text: hsl(0, 0%, 83%);
    --shiki-color-background: hsl(235, 19%, 13%);
    --shiki-token-constant: hsl(24, 75%, 50%);
    --shiki-token-string: hsl(40, 67%, 51%);
    --shiki-token-comment: hsl(229, 23%, 44%);
    --shiki-token-keyword: hsl(259, 59%, 59%);
    --shiki-token-parameter: hsl(0, 100%, 33%);
    --shiki-token-function: hsl(266, 59%, 70%);
    --shiki-token-string-expression: hsl(190, 91%, 48%);
    --shiki-token-punctuation: hsl(0, 0%, 83%);
    --shiki-token-link: hsl(0, 100%, 47%);
    --shiki-highlited-line: hsla(258, 50%, 52%, .4);
}

body {
    background-color: #1a1c1f;
}

#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 65px;
    padding: 0 100px;
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .23);
    background: transparent;
    background-color: #1a1c1f4d;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid hsl(214, 9%, 15%);
    z-index: 1;
    font-size: larger;
}

.logo {
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    padding: 0 10px;
}

.logo::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    margin-top: .01rem;
    background-color: #1abbd1;
    transition: transform 0.4s ease-in-out;
    transform: scale(0);
}

.logo:hover::after {
    transform: scale(1);
}

.header button {
    margin-right: 10px;
    cursor: pointer;
    outline: none;
}

nav .ul {
    display: flex;
    justify-content: center;
}

nav .ul button {
    margin: 0 15px;
    padding: 10px 12.5px;
    color: white;
    transition: all .3s ease-in-out;
}

.right {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
}

.resume-button {
    font-size: 16px;
    background: transparent;
    border: none;
    margin-left: 15px;
    padding: 0.75rem 1rem;
    border: 1px solid #1abbd1;
    border-radius: 4px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    position: relative;
    transition: .5s ease;
}

.resume-button::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #1abbd1;
    transition: .5s ease;
}

.resume-button:hover {
    color: #1e1e2b;
    transition-delay: .5s;
}

.resume-button:hover::before {
    width: 100%;
}

.resume-button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #1abbd1;
    transition: .4s ease;
    z-index: -1;
}

.resume-button:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
}

.btn {
    font-size: 15px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    transition: .5s ease;
}

.btn::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #1abbd1;
    transition: .5s ease;
}

.btn:hover {
    color: #1e1e2b;
    transition-delay: .5s;
}

.btn:hover::before {
    width: 100%;
}

.btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #1abbd1;
    transition: .4s ease;
    z-index: -1;
}

.btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    max-width: 1110px;
    display: flex;
    padding: 6rem 0;
}

.back {
    display: flex;
    width: 100%;
    height: 65px;
    background: transparent;
}

